@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Modal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* container */
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

/* Modal */
.modal-content {
    width: 70vw;
}

/* Book divs */
.bookList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 15px;
}

.test {
    background-color: #444;
    padding: 15px;
    margin: 10px 15px;
    color: #fff;
    text-align: center;
}

.test p {
    margin: 10px;
}

.toggle {
    display: none;
}

.book-form {
    background-image: linear-gradient( 109.6deg,  rgba(120,143,251,1) 11.2%, rgba(133,235,255,1) 91.1% );
    padding: 10px 20px;
    color: #fff;
}

.book-form label {
    display: block;
    margin: 10px 0;
}

.book-form input {
    width: 100%;
    padding: 7px 0;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #fff;

}

/* Button styling */
#openBtn {
    margin: 10px 10px;
}

.submitBtn {
    display: block;
    margin: 15px auto;
    width: 100%;
}

.btn {
    border: none;
    padding: 8px 20px;
    background-color: darkorange;
    color: #fff;
    border-radius: 10px;
}